.q-comment {
    margin-left: 10%;
    min-width: 80%;
}

.q-submit-btn {
    margin-left: 1%;
}

.comments {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 90% !important;
}

.pg-buttons {
    margin-bottom: 20px;
}

.pg-btn-prev {
    margin-right: -12px;
}

.pg-btn-next {
    margin-left: -5px !important;
}

.comment-btn {
    background-color: black;
}

.comment-plane {
    color: rgba(0,221,255,255) !important;
}

.comment-del-up {
    color: black;
    // border-color: rgba(0,221,255,255) !important;
    width: 120px !important;
    margin: 5px;
    // border-width: 3px;
}

.vote-btn {
    width: 50% !important;
}

.card-1 {
    background-color: black;
    text-align: center !important;
    min-width: 180px;
}

.card {
    border: none !important;
}

.buttons {
    align-items: flex-end;
}

.card-2 {
    min-width: 70%;
}