$primary-color: #618ab8;
$secondary-color: #063970;
$white-color: #FFFFFF;
$black-color: #000000;
$light: #f8f9fa;

.comment-post-btn {
  background-color: $primary-color;
  color: $white-color;
  outline: none !important;
  box-shadow: none !important;

  &:hover {
    background-color: $secondary-color;
    color: $white-color;
  }
}

.c-vote-btn {
  color: $primary-color;
  box-shadow: none !important;
  outline: none !important;
}