.navbar-logo {
    margin-right: 5px;
}

.pg-buttons {
    margin-bottom: 10px;
}

.pg-btn {
    margin-right: -15px;
}

.questions-container {
    margin: 1em 2em 0 2em;
}

.q-header {
    margin-top: 10px;
}

.q-details {
    font: "Lucida Handwriting";
}