$primary-color: #618ab8;
$secondary-color: #063970;
$white-color: #ffffff;
$black-color: #000000;


.search-btn {
  background-color: $primary-color;
  color: $white-color;
  outline: none !important;
  box-shadow: none !important;

  &:hover {
    background-color: $secondary-color;
    color: $white-color;
  }
}

.toggler-btn {
  box-shadow: none !important;

}

.questionStyle img {
  display: none;
}

.comment img {
  display: flex;
  justify-content: center;
  max-width: 70%;
  transform: translateX(27%);
  text-align: center;
}

.profile {
  background-color: #f8f9fa !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.plus-btn {
  background-color: $primary-color !important;
  color: $white-color;
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 100;
  height: 3em;
  width: 3em;

  &:hover {
    background-color: $secondary-color !important;
    color: $white-color !important;
  }
}

.pg-btn {
  background-color: $primary-color !important;
  color: $white-color !important;
  outline: none !important;
  box-shadow: none !important;
}

.q-vote-btn {
  color: $primary-color;
  box-shadow: none !important;
  outline: none !important;
}

.form-btn {
  box-shadow: none !important;
  outline: none !important;

  &:hover {
    color: $primary-color !important;
  }
}

.card {
  border: none;
}

.big-container {
  filter: blur(10px);
  pointer-events: none !important;
}

.q-del-up {
  border: none !important;
  box-shadow: none !important;
  color: $secondary-color;
}

.navbar-brand {
  box-shadow: none !important;
  outline: none !important;
}

.pg-button {
  border: none;
  color: $black-color;
  box-shadow: none !important;
  outline: none;

  &:hover {
    background-color: $primary-color !important;
    color: $white-color !important;    
  }

  &:focus {
    background-color: $primary-color !important;
    color: $white-color !important;
    outline: none !important;
    box-shadow: none !important;
  }
}