.navbar-nav > li > a:hover{
  background-color: rgb(132,164,200) !important;
  color: white !important;
}

.navbar-nav > li > a:focus {
  color: rgb(132,164,200) !important;
  font-weight: bold !important;
  background-color: white !important;
}

.navbar-logo {
  margin-right: 5px;
}

.navbar-form {
  width: 100% !important;
}

.btn-primary {
  background-color: white !important;
}

.btn-primary:hover {
  background-color: rgb(132,164,200) !important;
  color: white !important; 
}

.btn-primary:focus {
  color: rgb(132,164,200) !important;
  font-weight: bold !important;
  background-color: white !important;
}

.pg-buttons {
  margin-bottom: 10px;
}

.pg-btn {
  margin-right: -12px;
}

.questions-container {
  margin: 2em;
}

.q-header {
  margin: 1em;
}

.q-button {
  margin: 0 1em 1em 3em;
}

.q-content {
  margin: 1em;
}

.q-comments {
  margin-left: 4em;
}

.form-button {
  margin-left: 5px !important;
  color: rgba(0, 221, 255, 255) !important;
  border-color: rgba(0, 221, 255, 255) !important;
}

.heart-icon {
  color: rgba(0, 221, 255, 255) !important;
}

.icon-brd {
  border-color: rgba(0, 221, 255, 255) !important;
}

.back-button {
  height: 40px !important;
}
