#recorder {
  position: fixed;
  display: -webkit-inline-box;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .recorder-btn {
    background-color:#618ab8 !important;
    color: white !important;
    border: none !important;
  }
}
